/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

/* Navbar */
.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #B76E79;
  padding: 0.5rem 2rem;
  position: sticky; /* yb9a f top */
  top: 0;
  z-index: 100;
}

.logo img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: white;
  font-weight: bold;
  text-decoration: none;
  transition: 0.3s;
}

.nav-links a:hover,
.nav-links a.active {
  color: #fff;
  border-bottom: 2px solid white;
}

/* Content */
.content-container {
  max-width: 1200px;
  margin: 2rem auto;
  padding: 0 1rem;
}

/* Responsive */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
  }

  .nav-links {
    flex-direction: column;
    gap: 10px;
    width: 100%;
    margin-top: 10px;
  }
}
